* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #BAC095;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h2 {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

form {
  background: #D4DE95;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  padding: 12px 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
  transition: border 0.3s;
}

input:focus {
  border-color: #636B2F;
}

button {
  padding: 12px;
  background-color: #3D4127;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #636B2F;
}

p {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #555;
}

p a {
  color: #4f46e5;
  text-decoration: none;
  font-weight: 600;
}

p a:hover {
  text-decoration: underline;
}

.error {
  color: #fa0505; 
  font-weight: bold;
  font-size: 13px;
  text-align: center;
}

.dashboard {
  background: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.dashboard h2 {
  margin-bottom: 10px;
  color: #333;
}

.dashboard p {
  color: #666;
  margin-bottom: 20px;
}
